<section class='hero--apply' style='background-image: url(http://assets.makersacademy.com/images/backgrounds/postit-wall.jpg);'>
  <div class='container'>
    <div class='centered-row'>
      <div class='column'>
        <h2>Apply Now</h2>
        <p>The full 16-week programme costs £8,000. We run cohorts every 6 weeks, and applications are highly competitive. We offer numerous payment options.</p>
      </div>
    </div>
    <div class='button-row'>
      <p>
      <a class="button button--horizontal" href="http://www.makersacademy.com/payment/">Payment Options</a>
      <a class="button button--vertical button--large" href="https://apply.makersacademy.com">Apply</a>
      <a class="button button--horizontal" href="http://www.makersacademy.com/about-us/">Learn More</a>
      </p>
    </div>
  </div>
</section>
