{{! This is the post loop - each post will be output using this markup }}
<section class="article--centered">
  {{#foreach posts}}
  <article class="loop">
    <a href="{{url}}">
      <h3>{{title}}</h3>
      {{#author}}
      {{/author}}
      <p>{{excerpt words="50"}}...</p>
    </a>
    <hr>
  </article>
  {{/foreach}}
  {{pagination}}
</section>
<!-- {{! Previous/next page links - displayed on every page }} -->
