<section class="no-padding backgrounded loop blog-nav">
  <div class="container">
    <div class="four-width-row row-with-borders">
      {{#foreach navigation}}
      <div class="column">
        <h3>
          <a href="{{url absolute="true"}}">{{label}}</a>
        </h3>
      </div>
      {{/foreach}}
    </div>
  </div>
</section>
