<nav class="pagination" role="navigation">
  {{#if prev}}
  <a class="newer-posts button--horizontal" href="{{page_url prev}}">&larr; Newer Posts</a>
  {{/if}}
  &nbsp;
  {{#if next}}
  <a class="older-posts button--horizontal" href="{{page_url next}}">Older Posts &rarr;</a>
  {{/if}}
</nav>

