<section class='hero' style='background-image: url(http://assets.makersacademy.com/images/backgrounds/dan-and-students-overhead.jpg);'>
  <div class='container'>
    <div class='centered-row'>
      <img class="logo" src="http://assets.makersacademy.com/images/logo/ma-white.png"}}" />
      <h1>{{@blog.title}}</h1>
      <a href="http://www.makersacademy.com" class="button--horizontal">Go to main site</a>
    </div>
  </div>
</section>
