{{!< default}}

<section class='hero-splash' style='background-image: url(http://assets.makersacademy.com/images/backgrounds/roy-and-ruben.jpg);'>
  <div class='container'>
    <div class='centered-row'>
      <h1>Whoops! Page not found</h1>
      <p>
      It's okay: you learn through failing at Makers. We fail too from time to time.
      If you've got any questions email us at
      <a href="mailto:contact@makersacademy.com">contact@makersacademy.com</a>
      &hyphen; or why not pick up the phone and have a natter with us on 020 3817 8870.
      </p>
      <p>
      <a class="button button--horizontal" href="/">Back to blog</a>
      </p>
    </div>
  </div>
</section>

{{navigation}}
